<p>carrello works!</p>

<!-- Lista prodotti nel carrello -->
<div class="product-list">
  <div class="card" *ngFor="let prodotto of cart">
    <div class="card-img">
      <img [src]="prodotto.immagine" alt="Product Image" class="img-fluid">
    </div>
    <div class="card-info">
      <p class="text-title">{{ prodotto.nome }}</p>
      <p class="text-body">{{ prodotto.descrizione }}</p>
    </div>
    <div class="card-footer">
      <span class="text-title">{{ prodotto.prezzo }} €</span>
      <span class="text-body">Quantità: {{ prodotto.quantita }}</span>
    </div>
  </div>
</div>

<div class="cart-buttons">
  <button (click)="purchaseCart()" class="btn">Acquista</button>
  <button (click)="clearCart()" class="btn btn-danger">Svuota carrello</button>
</div>
