


.logo{
  width: 130px;

}

.navbar{
  background-color: #FFE5B4;

}
.navbar a{
  color: #d2945d;
  font-family: "Merriweather", sans-serif;
}
.shop-icon{
  width: 50px;
  height: 30px;
}
.home-icon{
  width: 50px;
  height: 25px;
}
.profile-icon{
  width: 43px;
  height: 20px;
}
