

.footer{
  background-color: #FFE5B4;
  left:0;
  bottom: 0; width: 100%;
  text-align: center;
  padding: 10px;
}

h5{
  color: #d2945d;
  font-size: 17px;
}
.testo-footer{
  font-size: 12px;
}

.icons{
  width: 30px;
  height: 20px;
}

.foot p{
  margin-block-end: 0px;

}
