<div class="form-container my-4">
  <div *ngIf="user" class="form">
    <p class="heading">{{ user.firstName }}'s Profile</p>

    <div class="input-group">
      <label for="firstName">First Name:</label>
      <input id="firstName" [(ngModel)]="user.firstName" type="text" class="input">
    </div>

    <div class="input-group">
      <label for="lastName">Last Name:</label>
      <input id="lastName" [(ngModel)]="user.lastName" type="text" class="input">
    </div>

    <div class="input-group">
      <label for="username">Username:</label>
      <input id="username" [(ngModel)]="user.username" type="text" class="input">
    </div>

    <div class="input-group">
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="user.email" type="text" class="input">
    </div>

    <div class="input-group">
      <label for="citta">City:</label>
      <input id="citta" [(ngModel)]="user.citta" type="text" class="input">
    </div>

    <div class="input-group">
      <label for="codiceFiscale">Codice Fiscale:</label>
      <input id="codiceFiscale" [(ngModel)]="user.codiceFiscale" type="text" class="input">
    </div>

    <div class="input-group">
      <label for="avatar">Avatar:</label>
      <img *ngIf="user.avatar" [src]="user.avatar" alt="User Avatar" class="avatar">
      <input type="file" (change)="onFileSelected($event)" class="input-file">
      <button (click)="onUpload()" class="btn">Carica Avatar</button>
    </div>

    <button (click)="onSave()" class="btn">Salva Profilo</button>
  </div>
</div>
