<p>home works!</p>
<button routerLink="/aggiungi">Carica nuovo prodotto</button>

<!-- Modal per il caricamento del prodotto -->


<!-- Lista prodotti -->
<div *ngFor="let prodotto of prodotti">
  <div>
    <img [src]="prodotto.immagine" alt="Product Image">
    <p>{{ prodotto.nome }}</p>
    <p>{{ prodotto.descrizione }}</p>
    <p>{{ prodotto.prezzo }} €</p>
    <p>{{ prodotto.quantita }}</p>
    <p>Venditore: {{ prodotto.firstName}} {{ prodotto.lastName }}</p>
    <button (click)="addToCart(prodotto)" [disabled]="prodotto.quantita === 0">Aggiungi al carrello</button>
    <button class="btn-danger"  *ngIf="isUserProduct(prodotto)" (click)="removeProduct(prodotto)">
      Rimuovi prodotto
    </button>
    <p *ngIf="prodotto.quantita === 0">Non disponibile</p>
  </div>
</div>
